@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
section {
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.pink {
  color: #e55473;
}
.btn-primary {
  padding: 15px 30px;
  color: #ffffff;
  background-color: #e55473;
  font-weight: bold;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.section-content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #272727;
  margin-bottom: 24px;
}
.section-info {
  font-size: 1.25rem;
  color: rgba(39, 39, 39, 0.6);
  line-height: 1.875rem;
}

/* header section */
header {
  background-color: rgba(229, 84, 115, 0.1);
}

/* banner section */
.banner {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  gap: 100px;
}
.banner-content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #272727;
  margin-bottom: 32px;
}
.banner-content p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 32px;
}
.banner-image img {
  width: 100%;
  object-fit: cover;
}

/* featured section */
.featured-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin-top: 50px;
}
.single-featured-content {
  display: flex;
  flex-direction: column;
}
.single-featured-content div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.single-featured-content img {
  width: 80%;
  object-fit: cover;
}
.single-featured-content a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #272727;
  display: inline-block;
  margin-top: 24px;
}
.featured-01 {
  background-color: rgba(167, 33, 98, 0.15);
}
.featured-02 {
  background-color: rgba(5, 151, 160, 0.15);
}
.featured-03 {
  background-color: rgba(71, 125, 17, 0.15);
}

.support {
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 80px 0;
}
.single-support-content p {
  margin-top: 20px;
}

/* offer section */
.offer {
  background-color: rgba(229, 84, 115, 0.05);
}
.offer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.offer-info {
  padding-left: 100px;
}
.offer-image {
  padding-right: 100px;
}
.offer-info p {
  margin-bottom: 24px;
}
.offer-image img {
  width: fit-content;
}

/* classic section */
.classic-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.classic-content-image img {
  width: 100%;
}

/* subscribe section */
.subscribe {
  background-image: url("./images/Rectangle-Flower.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.subscribe-btn input[type="email"] {
  width: 500px;
  margin-right: 10px;
  padding: 18px 20px;
  background-color: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-weight: normal;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}
